html
{
    /*This is needed in order to force the scroll bar to appear on the right
      even when the page content would vertically fit in the page---otherwise
      the centering would depend on whether the page has a scrollbar or not.*/
    height: 101%;
}

body
{
    margin: 0;
    padding: 0;
    font: 90% Lucida Grande,Lucida Sans,Arial,sans-serif;
    color: #666;
}

p.code
{
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: 10px;
}

.column1 {
    text-align: left;
    width: 31%;
    float: left;
}

.column2 {
    text-align: left;
    width: 32%;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
}

.column3 {
    text-align: left;
    width: 31%;
    float: left;
}

h1
{
    font: 175% sans-serif;
    color: #ff9900;
}

h2
{
    font: 125% sans-serif;
    font-variant: small-caps;
    /*font-weight: bold;*/
    color: #ff9900;
}

h3
{
    font: 110% sans-serif;
    font-variant: small-caps;
    /*font-weight: bold;*/
    color: #ff9900;
}

h4
{
    font: 90% Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-variant: small-caps;
    /*font-weight: bold;*/
    color: #666;
    margin-bottom: 0px;
    padding-bottom: 0;
    margin-top: 0px;
    padding-top: 0;
}

a
{
    color: #00f;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

/* Style the page header */
header
{
    height: 67px;
    width: 100%;
    position: relative;
    background: url(../images/header.png) repeat 0 0;
    border-bottom: 1px solid #aaa;
    padding-top: 15px;
    text-align: center;
}

/* Container for flexboxes */
div.mainpage {
  display: -webkit-flex;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  border-bottom: 1px solid #aaa;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #fff;
  padding: 20px;
  max-width: 180px;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #fff;
  padding: 10px;
  text-align: justify;
}

/* Style the footer */
footer {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  color: grey;
  font-size: 85%;
}

div.badge
{
  border: 1px solid;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #ddd;
  width: 230px;
}

nav a
{
    color: #666; text-decoration: none;
}

nav a:hover
{
    text-decoration: underline;
}

nav ul
{
    margin: 1em 0;
    padding: 0;
}

nav ul li
{
    margin: 0 0 1em;
    padding: 0;
    list-style-type: none;
}

nav ul li.inactive
{
    color: #aaa;
}

article img.floatright
{
    float: right;
    margin: 0px 0px 10px 30px;
}

article img.floatleft
{
    float: left;
    margin: 0px 30px 10px 0px;
}

article span.date
{
    font: 90% Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-variant: small-caps;
    color: #666;
}

article span.date:before
{
    color: #666;
    content: "[";
}

article span.date:after
{
    color: #666;
    content: "]";
}

article font.emph
{
    color: #ff8800;
}

article ul
{
    margin: 1em 0;
    padding: 0;
}

article ul li
{
    margin: 0 0 0.75em;
    padding: 0;
    list-style-type: none;
}

article ul li:before
{
    content: "";
}

footer a:link    { text-decoration: none; }
footer a:hover   { text-decoration: underline; }

nav i
{
    font-size: 17px;
    width: 30px;
}

footer i
{
    font-size: 18px;
    width: 30px;
    color: gray;
}

.timeline
{
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 2px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #ccc;
  top: 0;
  bottom: 0;
  left: 30%;
  margin-left: -8px;
}

.event {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 32%;
  position: relative;
}

.event::before
{
  display: block;
  position: absolute;
  content: attr(date);
  text-align: right;
  width: 30%;
  left: -30px;
}


/* The circles on the timeline */
.event::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  right: 70%;
  background-color: #ccc;
  border: 2px solid #FF9F55;
  top: 8px;
  border-radius: 50%;
  z-index: 1;
}



/* Responsive layout - makes the menu and the content (inside the section) sit
 on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
